
@import url("styles/header.css");
@import url("styles/higher.css");
@import url("styles/metrics.css");

:root{
    --dark-slate-gray: #3A404E;
    --maroon: #8E2424;
    --primary-source: "Inter";
    --white: #FFF;
    --red-background-color: #8E2424;
    --dark-red: #8E2424;
    --main-background-color: #FFFFFF;
    --dark-blue: #101828;
    --blue-gray: #667085;
}

.body{
    background: var(--main-background-color);
    font-family: var(--primary-source);
    color: var(--dark-slate-gray);
    font-size: 16px;
    font-weight: 500;
}